<div class="row">
    <div class="col-md-4 col-xs-12 col-sm-12"></div>
    <div class="col-md-4">
        <img src="/assets/e.jpg" class="img img-thumbnail" alt="Selena Gomez">


        <hr />

        <h3>Angular PWA Demo Application</h3>
        <p>Developed by <a href="https://www.linkedin.com/in/rajat-varshney-57a1b2192/"><em>Rajat Varshney</em></a></p>
        <p>&copy; 2020-21 All rights reserved by <a href="https://webizysolutions.com/">Webizy Inc.</a></p>

    </div>
    <div class="col-md-4"></div>
</div>
